<?xml version="1.0"?>

<!--Convenience launch file to start gazebo + control--> 
<launch>
	<!--param name="/use_sim_time" value="true" /-->

	<include file="$(find cable_suspended_robotics)/launch/cranebot/spawn_cranebot.launch">
	</include>

	<include file="$(find cable_suspended_robotics)/launch/cranebot/control_cranebot.launch">
	</include>

</launch>
