<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<!-- these are the arguments you can pass this launch file, for example paused:=true -->
	<arg name="world" value="$(find gazebo_ros)/launch/empty_world.launch"/>
	<arg name="pause" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="debug" default="false"/>
	<arg name="hardware_interface" default="hardware_interface/EffortJointInterface"/>


	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="debug" value="$(arg debug)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="paused" value="$(arg pause)"/>
	</include>
	

	<!-- Robot -->	
	<param name="robot_description" command=" xacro '$(find cable_suspended_robotics)/urdf/cranebot/cranebot.urdf.xacro'" />
	<node name="cranebot_spawn" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param robot_description -model CraneBot" />
	<node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> 

	<!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/> -->
          
</launch>
