<?xml version="1.0"?>
<robot name="LiCAS_A1" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="LiCAS_A1_transmission" params="name hardware_interface">

		<!-- LEFT ARM-->

	    <transmission name="${name}_leftarm_tran_1">
	      <type>transmission_interface/SimpleTransmission</type>
	      <joint name="${name}_q1_1">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
	      </joint>
	      <actuator name="${name}_leftarm_motor_1">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	      </actuator>
	    </transmission>

	    <transmission name="${name}_leftarm_tran_2">
	      <type>transmission_interface/SimpleTransmission</type>
	      <joint name="${name}_q1_2">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
	      </joint>
	      <actuator name="${name}_leftarm_motor_2">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	      </actuator>
	    </transmission>    

	    <transmission name="${name}_leftarm_tran_3">
	      <type>transmission_interface/SimpleTransmission</type>
	      <joint name="${name}_q1_3">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
	      </joint>
	      <actuator name="${name}_leftarm_motor_3">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	      </actuator>
	    </transmission> 

	    <transmission name="${name}_leftarm_tran_4">
	      <type>transmission_interface/SimpleTransmission</type>
	      <joint name="${name}_q1_4">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
	      </joint>
	      <actuator name="${name}_leftarm_motor_4">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	      </actuator>
	    </transmission>         

		<!-- RIGHT ARM-->

	    <transmission name="${name}_rightarm_tran_1">
	      <type>transmission_interface/SimpleTransmission</type>
	      <joint name="${name}_q2_1">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
	      </joint>
	      <actuator name="${name}_rightarm_motor_1">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	      </actuator>
	    </transmission>

	    <transmission name="${name}_rightarm_tran_2">
	      <type>transmission_interface/SimpleTransmission</type>
	      <joint name="${name}_q2_2">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
	      </joint>
	      <actuator name="${name}_rightarm_motor_2">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	      </actuator>
	    </transmission>    

	    <transmission name="${name}_rightarm_tran_3">
	      <type>transmission_interface/SimpleTransmission</type>
	      <joint name="${name}_q2_3">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
	      </joint>
	      <actuator name="${name}_rightarm_motor_3">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	      </actuator>
	    </transmission> 

	    <transmission name="${name}_rightarm_tran_4">
	      <type>transmission_interface/SimpleTransmission</type>
	      <joint name="${name}_q2_4">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
	      </joint>
	      <actuator name="${name}_rightarm_motor_4">
		<hardwareInterface>${hardware_interface}</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	      </actuator>
	    </transmission> 

	</xacro:macro>


</robot>