<?xml version="1.0"?>

<!--<robot name="test_robot" xmlns:xacro="http://ros.org/wiki/xacro">-->
<robot name="LiCAS_A1" xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Import Transmissions -->
<xacro:include filename="$(find licasa1_description)/urdf/licasa1.transmission.xacro" />

<!-- Import Gazebo plugins -->
<xacro:include filename="$(find licasa1_description)/gazebo/gazebo.urdf.xacro"/>

<!-- Params -->
<xacro:property name="joint_damping" value="0.0" />
<xacro:property name="joint_friction" value="0.0" />

<link name="base_link">
    <inertial>
      <origin xyz="0 0 0.178212"/>
      <mass value="19.049"/>
      <inertia ixx="1.059" ixy="0" ixz="0" iyy="1.059" iyz="0" izz="0.107"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.85"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Arms_Base.dae" scale=".001 .001 .001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.85"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Arms_Base.dae" scale=".001 .001 .001"/>
      </geometry>
    </collision>
</link> 

<joint name="joint" type="fixed">
    <origin xyz="0 0 0.85"/>
    <parent link="base_link"/>
    <child link="shoulder_pitch_link"/>
</joint>


<link name="shoulder_pitch_link">
    <inertial>
      <origin xyz="0 0 0.042"/> <!-- 0 0 {0.054-0.012} -->
      <mass value="0.639"/>
      <inertia ixx="3.02e-3" ixy="0" ixz="0" iyy="8.64e-4" iyz="0" izz="3.39e-3"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.054"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Shoulder_Pitch_Structure.dae" scale=".001 .001 .001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.054"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Shoulder_Pitch_Structure.dae" scale=".001 .001 .001"/>
      </geometry>
    </collision>
</link> 


<!-- LEFT ARM-->


<joint name="LiCAS_A1_q1_1" type="revolute">
    <origin xyz="0 0.14 0.054"/>
    <parent link="shoulder_pitch_link"/>
    <child link="left_shoulder_roll"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="${joint_damping}" friction="${joint_friction}"/>
    <limit effort="10.0" lower="${-90/180*pi}" upper="${90/180*pi}" velocity="6"/>
</joint> 


<link name="left_shoulder_roll">
    <inertial>
      <origin xyz="0 0.0164 -0.00946"/> <!--0 {0.04-0.0236} -0.00946-->
      <mass value="0.233"/>
      <inertia ixx="3.68e-4" ixy="-7.57e-6" ixz="5.38e-6" iyy="1.16e-4" iyz="-4.8e-5" izz="3.76e-4"/>
    </inertial>
    <visual>
      <origin xyz="0 0.04 0"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Shoulder_Roll_Structure_Left.dae" scale=".001 .001 .001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.04 0"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Shoulder_Roll_Structure_Left.dae" scale=".001 .001 .001"/>
      </geometry>
    </collision>
</link> 


<joint name="LiCAS_A1_q1_2" type="revolute">
    <origin xyz="0 0.04 0"/>
    <parent link="left_shoulder_roll"/>
    <child link="left_shoulder_yaw"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="${joint_damping}" friction="${joint_friction}"/>
    <limit effort="10.0" lower="${-20/180*pi}" upper="${90/180*pi}" velocity="6"/>
</joint>


<link name="left_shoulder_yaw">
    <inertial>
      <origin xyz="-0.015 0 -0.1"/>
      <mass value="0.246"/>
      <inertia ixx="3.49e-4" ixy="0" ixz="-3.79e-5" iyy="4.46e-4" iyz="0" izz="1.49e-4"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Assembly_Shoulder_Yaw_Structure.dae" scale=".001 .001 .001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Assembly_Shoulder_Yaw_Structure.dae" scale=".001 .001 .001"/>
      </geometry>
    </collision>
</link> 


<joint name="LiCAS_A1_q1_3" type="revolute">
    <origin xyz="0 0 -0.143"/>  <!--0 0 -0.163+0.02=-0.143-->
    <parent link="left_shoulder_yaw"/>
    <child link="left_elbow_pitch"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${joint_damping}" friction="${joint_friction}"/>
    <limit effort="10.0" lower="${-90/180*pi}" upper="${90/180*pi}" velocity="6"/>
</joint>


<link name="left_elbow_pitch">
    <inertial>
      <origin xyz="0 0 -0.093"/>  <!-- 0 0 -0.1395+0.0075+0.039 -->
      <mass value="0.214"/>
      <inertia ixx="4.21e-4" ixy="-7.81e-7" ixz="-4.06e-5" iyy="4.26e-4" iyz="1.8e-5" izz="5.01e-5"/>
    </inertial>
    <visual>
      <origin xyz="0 0 -0.132"/> <!-- -0.1395+0.0075 -->
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Elbow_Pitch_Structure_Left_Cut.dae" scale=".001 .001 .001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.132"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Elbow_Pitch_Structure_Left_Cut.dae" scale=".001 .001 .001"/>
      </geometry>
    </collision>
</link> 

<joint name="LiCAS_A1_q1_4" type="revolute">
    <origin xyz="0 0 -0.132"/>  <!--0 0 -0.1395+0.0075-->
    <parent link="left_elbow_pitch"/>
    <child link="left_forearm_link"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="${joint_damping}" friction="${joint_friction}"/>
    <limit effort="10.0" lower="${-150/180*pi}" upper="${150/180*pi}" velocity="6"/>
</joint>


<link name="left_forearm_link">
    <inertial>
      <origin xyz="0 0 -0.092"/>  <!-- 0 0 0-0.092-->
      <mass value="0.106"/>
      <inertia ixx="3.94e-4" ixy="0" ixz="0" iyy="3.75e-4" iyz="-3.5e-6" izz="3.05e-5"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0"/> <!-- -0.1395+0.0075 -->
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Forearm_Link_with_Gripper_Servo.dae" scale=".001 .001 .001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Forearm_Link_with_Gripper_Servo.dae" scale=".001 .001 .001"/>
      </geometry>
    </collision>
</link> 


<!-- RIGHT ARM-->

<joint name="LiCAS_A1_q2_1" type="revolute">
    <origin xyz="0 -0.14 0.054"/>
    <parent link="shoulder_pitch_link"/>
    <child link="right_shoulder_roll"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="${joint_damping}" friction="${joint_friction}"/>
    <limit effort="10.0" lower="${-90/180*pi}" upper="${90/180*pi}" velocity="6"/>
</joint> 


<link name="right_shoulder_roll">
    <inertial>
      <origin xyz="0 -0.0164 -0.00946"/>  <!-- 0 -0.04+0.0236 -0.00946 -->
      <mass value="0.233"/>
      <!--<inertia ixx="3.68e-4" ixy="-7.57e-6" ixz="5.38e-6" iyy="1.16e-4" iyz="-4.8e-5" izz="3.76e-4"/>-->
      <inertia ixx="3.68e-4" ixy="7.57e-6" ixz="5.38e-6" iyy="1.16e-4" iyz="4.8e-5" izz="3.76e-4"/>
    </inertial>
    <visual>
      <origin xyz="0 -0.04 0"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Shoulder_Roll_Structure_Right.dae" scale=".001 .001 .001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.04 0"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Shoulder_Roll_Structure_Right.dae" scale=".001 .001 .001"/>
      </geometry>
    </collision>
</link> 


<joint name="LiCAS_A1_q2_2" type="revolute">
    <origin xyz="0 -0.04 0"/>
    <parent link="right_shoulder_roll"/>
    <child link="right_shoulder_yaw"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="${joint_damping}" friction="${joint_friction}"/>
    <limit effort="10.0" lower="${-90/180*pi}" upper="${20/180*pi}" velocity="6"/>
</joint>


<link name="right_shoulder_yaw">
    <inertial>
      <origin xyz="-0.015 0 -0.1"/>
      <mass value="0.246"/>
      <inertia ixx="3.49e-4" ixy="0" ixz="-3.79e-5" iyy="4.46e-4" iyz="0" izz="1.49e-4"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Assembly_Shoulder_Yaw_Structure.dae" scale=".001 .001 .001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Assembly_Shoulder_Yaw_Structure.dae" scale=".001 .001 .001"/>
      </geometry>
    </collision>
</link> 

<joint name="LiCAS_A1_q2_3" type="revolute">
    <origin xyz="0 0 -0.143"/>  <!--0 0 -0.163+0.02=-0.143-->
    <parent link="right_shoulder_yaw"/>
    <child link="right_elbow_pitch"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="${joint_damping}" friction="${joint_friction}"/>
    <limit effort="10.0" lower="${-90/180*pi}" upper="${90/180*pi}" velocity="6"/>
</joint> 


<link name="right_elbow_pitch">
    <inertial>
      <origin xyz="0 0 -0.093"/>  <!-- 0 0 -0.1395+0.0075+0.039 -->
      <mass value="0.214"/>
      <inertia ixx="4.21e-4" ixy="7.81e-7" ixz="-4.06e-5" iyy="4.26e-4" iyz="-1.8e-5" izz="5.01e-5"/>
    </inertial>
    <visual>
      <origin xyz="0 0 -0.132"/> <!-- -0.1395+0.0075 -->
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Elbow_Pitch_Structure_Right_Cut.dae" scale=".001 .001 .001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.132"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Elbow_Pitch_Structure_Right_Cut.dae" scale=".001 .001 .001"/>
      </geometry>
    </collision>
</link> 


<joint name="LiCAS_A1_q2_4" type="revolute">
    <origin xyz="0 0 -0.132"/>  <!--0 0 -0.1395+0.0075-->
    <parent link="right_elbow_pitch"/>
    <child link="right_forearm_link"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="${joint_damping}" friction="${joint_friction}"/>
    <limit effort="10.0" lower="${-150/180*pi}" upper="${150/180*pi}" velocity="6"/>
</joint>


<link name="right_forearm_link">
    <inertial>
      <origin xyz="0 0 -0.092"/>  <!-- 0 0 0-0.092-->
      <mass value="0.106"/>
      <inertia ixx="3.94e-4" ixy="0" ixz="0" iyy="3.75e-4" iyz="3.5e-6" izz="3.05e-5"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0"/> <!-- -0.1395+0.0075 -->
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Forearm_Link_with_Gripper_Servo.dae" scale=".001 .001 .001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://licasa1_description/mesh/Forearm_Link_with_Gripper_Servo.dae" scale=".001 .001 .001"/>
      </geometry>
    </collision>
</link> 

<xacro:LiCAS_A1_transmission name="LiCAS_A1" hardware_interface="hardware_interface/EffortJointInterface"/>

</robot>
